* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}

body {
  font-family: sans-serif;
  background-color: #122c3e;
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 0;
}

.sequencer__row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.sequencer__controls {
  padding: 0 10px;
  width: 300px;
}

.sequencer__pads {
  padding: 0 10px;
  width: calc(100% - 300px);
}

.sequencer__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sequencer__title {
  font-size: 1rem;
  color: white;
}

.sequencer__mute {
  padding: 0.3rem 0.4rem;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 50%;
}

.sequencer__mute.active {
  background: white;
  color: black;
}

.sequencer__select {
  padding: 0.5rem;
  font-size: 1rem;
  border-color: transparent;
}

.sequencer__pads {
  display: flex;
}

.sequencer__pad {
  width: 4rem;
  height: 2.35rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.sequencer__pads_kick .sequencer__pad {
  background-color: #57b6e0;
}

.sequencer__pads_kick .sequencer__pad.active {
  background-color: #156ef3;
}

.sequencer__pads_snare .sequencer__pad {
  background-color: #dd91e0;
}

.sequencer__pads_snare .sequencer__pad.active {
  background-color: #da3ab2;
}

.sequencer__pads_hihat .sequencer__pad {
  background-color: #e0d288;
}

.sequencer__pads_hihat .sequencer__pad.active {
  background-color: #ff9a29;
}

.play {
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  margin: 20px 0;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.play:hover {
  background-color: #c40000;
}

.tempo {
  width: 30%;
  margin: 0 auto;
}

.tempo__slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: black;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo__txt {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.heroTitle {
  color: #496379;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 2rem 1rem;
  text-align: center;
  font-weight: bold;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 768.98px) {
  html {
    font-size: 14px;
  }
  .sequencer__controls {
    width: 230px;
  }
  .sequencer__pads {
    width: calc(100% - 230px);
  }
  .tempo {
    width: 40%;
  }
}

@media only screen and (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
  .sequencer {
    padding: 10px 0 0;
  }
  .sequencer__row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .sequencer__controls {
    width: auto;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  .sequencer__pads {
    width: 100%;
    padding: 0 5px;
  }
  .sequencer__pad {
    width: 11%;
  }
  .sequencer__title {
    margin-right: 10px;
  }
  .tempo {
    width: 45%;
  }
}
